.MatchdayBox {
    text-align: center;
    margin: 20px auto;
    max-width: 85%;
}

.MatchdayNum {
    text-align: left;
    text-indent: 20px;
    text-decoration: underline;
    font-style: italic;
    padding-top: 70px;
}

.Matches {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.eventCard {
    background-color: white;
    color: black; 
    margin: 20px auto;
    padding: 40px;
    width: 300px;
    border-radius: 15px;    
}

.eventInfo {
    font-size: 140%;
}