.flip-card {
  margin: 0 auto;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front.green {
  background-color: #28a746b6; 
  color: black;
  border-radius: 20px;
}

.flip-card-front.yellow {
  background-color: #ffc1078f;
  color: black;
  border-radius: 20px;
}

.flip-card-front.red {
  background-color: #dc3546ab;
  color: black;
  border-radius: 20px;
}

.flip-card-front ul {
  text-align: left;
}

.flip-card-back.green {
  background-color: #28a746b6; 
  color: black;
  transform: rotateY(180deg);
  border-radius: 20px;
}

.flip-card-back.yellow {
  background-color: #ffc1078f;
  color: black;
  transform: rotateY(180deg); 
  border-radius: 20px;
}

.flip-card-back.red {
  background-color: #dc3546ab;
  color: black;
  transform: rotateY(180deg);
  border-radius: 20px;
}

.player {
  width: 120px;
  height: 200px;
  border-radius: 10%; 
  object-fit: cover; 
  border: 3px solid black;
  margin-right: 20px;
  margin-left: 20px;
}
